<aside class="sidebar">
    <p>Did you know you could play Cyvasse in real life?</p>
    <p>It's super awesome! (just a bit harder without computer help)</p>
    <div class="cyv-3dp">
        <a href="//www.shapeways.com/shops/mikelepage?section=Cyvasse+Set+%28from+%24280+total%29">
            <img src="/img/cyvasse-rl.jpg" alt="3d-printed Cyvasse board and pieces">
            <div class="overlay">Cyvasse Set designed by Mike Le Page</div>
        </a>
    </div>
    <p><a href="//cyvasse-online.com/">
        <i class="fa fa-fw fa-angle-left"></i>Back to the main site
    </a></p>
</aside>
