@import "flexbox", "respond-to", "variables";

%remove-top-btm-margin {
    > :first-child { margin-top: 0 }
    > :last-child  { margin-bottom: 0 }
}

body {
    @include display-flex;
    @include flex-direction(column);

    min-height: 100%;
}

.container {
    @include display-flex;
    margin: 0 auto;

    width: 100%;
    padding: 0 16px;

    &:not(.full-width) { max-width: 1440px; }
}

.page-header {
    padding: .2em 0;
    border-bottom: 2px solid $borderColor;

    font-size: 40px;
    @include respond-to-max($break-small) {
        font-size: 30px;
    }

    a {
        text-decoration: none;
    }

    .container {
        @include justify-content(space-between);
        @include align-items(center);
    }
}

.page-wrap {
    @include flex(1);

    @extend .container;
    @include align-items(flex-start);

    padding: 16px;

    @include flex-direction(column);
    @include respond-to-more-than($break-small) {
        @include flex-direction(row);
    }
}

.page-footer {
    padding: .2em 0;
    border-top: 2px solid $borderColor;

    .container {
        @include justify-content(space-between);
    }
}

.page-content {
    @include respond-to-more-than($break-small) {
        @include flex(3);
    }

    @extend %remove-top-btm-margin;
}

.sidebar {
    @include respond-to-more-than($break-small) {
        @include flex(2);
    }
    @include respond-to-max($break-small) {
        margin-top: 2em;
    }

    padding: .25em 0;
    @extend %remove-top-btm-margin;

    border-left: 2px solid $borderColor;

    @include respond-to-more-than($break-small) {
        margin-left: 1.75em;
        padding-left: .25em;
    }
}
